img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:500px;
}

.flex-warp {
    flex-flow: row wrap;
    justify-content: space-between;
    display: flex;
}

.blink-in {
    animation-name: blink-in;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

.blink-out {
    animation-name: blink-out;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

.left-center {
    text-align: center;
}

.center-right {
    text-align: right;
}

.right-left {
    text-align: left;
}

.hacker-mode {
    width:42px;
    padding: 0;
    font-size: 21px !important;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
}

#q {
    position: fixed;
    opacity: 0.1;
    z-index: -1;
}