img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:500px;
}

.flex-warp {
    flex-flow: row wrap;
    justify-content: space-between;
    display: flex;
}

.blink-in {
    animation-name: blink-in;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

.blink-out {
    animation-name: blink-out;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

.left-center {
    text-align: center;
}

.center-right {
    text-align: right;
}

.right-left {
    text-align: left;
}

.radio-button {
    margin-top: 12px;
    margin-bottom: 12px;
    width:24px;
    border: solid 1px;
    border-radius: 10px;
    padding: 0;
    height: 12px;
    line-height: 12px;
}